<style>
    body{
        background-color:rgb(5, 27, 87);
        color:white;
    }
    .navbar{
        overflow: hidden;
        background: linear-gradient(to left, #f5f3f3, #8d8c8c 50%, #555555 75%, #4e4e4e 75%);
    }
    .navbar{
        height : 25%;
    }
    .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
</style>
<div class="navbar">
    <a href="#">main page</a>
    <a href>Guy</a>
</div>